:root {
    /* Primary colours */
    --darkDesaturatedBlue: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);

    /* Gradient colours */
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);

    /* Text colours */
    --darkGrayishBlue: hsl(237, 12%, 33%);
    --grayishBlue: hsl(240, 6%, 50%);

    /* Divider colour */
    --lightGrayishBlue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******************* Illustration *******************/

body {
    width: 100%;
    background: linear-gradient(var(--softViolet), var(--softBlue)) no-repeat;
    font: 12px 'Kumbh Sans', sans-serif;
    text-align: center;
}

main {
    max-width: 375px;
    margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
    main {
        max-width: 1024px;
    }
}

.component {
    width: 85%;
    margin: 150px auto 100px;
    background: white  url("./images/bg-pattern-mobile.svg") no-repeat center top/75%;
    border-radius: 20px;
}

.illustration {
    height: 100px;
}

.img-mobile.img-lady {
    width: 75%;
    position: relative;
    top: -105px;
}

.img-desktop {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .component {
        background-image: none;
        display: flex;
        align-items: center;
        height: 430px;
    }

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: inline-block;
    }

    .illustration {
        position: relative;
        background: url("./images/bg-pattern-desktop.svg") right -300px;
        width: 40%;
        height: 100%;
    }

    .lady-container {
        overflow: hidden;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .img-desktop.img-lady {
        width: 120%;
    }

    .img-box {
        position: absolute;
        bottom: 80px;
        right: 270px;
    }
}

/******************* FAQ *******************/

.faq {
    padding: 10%;
    color: var(--grayishBlue);
    line-height: 1.2rem;
    overflow: hidden;
}

.faq h1 {
    color: var(--darkDesaturatedBlue);
    margin-bottom: 20px;
}

.faq h2 {
    font-size: 12px;
    font-weight: 400;
    margin: 15px 0;
    color: var(--darkGrayishBlue);
    cursor: pointer;
}

.faq h2:hover {
    color: var(--softRed);
}

.faq h2::after {
    content: url("./images/icon-arrow-down.svg");
    position: absolute;
    right: 0;
}

.accordion {
    border-bottom: 1px solid var(--lightGrayishBlue);
    text-align: left;
}

.accordion .questionWrapper {
    width: 100%;
    position: relative;
}

.question-active {
    color: var(--darkDesaturatedBlue);
    font-weight: 700;
}

.question-active::after {
    content: url("./images/icon-arrow-down.svg");
    transform: rotate(180deg);
}

.accordion .answer {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}
.accordion p {
    padding-bottom: 15px;
}

@media only screen and (min-width: 1024px) {
    .faq {
        width: 60%;
        height: 100%;
        padding: 50px 100px;
        text-align: left;
    }
}

/******************* Footer *******************/

.attribution {
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    width: 85%;
    max-width: 318px;
    margin: 0 auto 20px;
}

.attribution a {
    color: hsl(228, 45%, 34%);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--softViolet);
}

@media only screen and (min-width: 1024px) {
    .attribution {
        max-width: 1024px;
    }
}